


<br>
<br>

<br>
<br>




<p class="centeredDescription col_4">Not a member yet ? You can <%= link_to "sign up here", new_user_path %></p>
<br>
<br>
<br>

<h5 class="text-center">Se connecter</h5>
<br>
<div class="container text-left">
<form action="<%= sessions_path %>" method="POST" class="form-signin">
<input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %> >
<br>
<div class="form-group">
    <label for="email">Email please</label>
    <input type="email" class="form-control" name='email' placeholder="your email here">
    <br>
    <label for="password">Password please</label>
    <input type="password" class="form-control" name='password'>
  </div>
  <button type="submit" class="btn btn-dark">Login</button>
</form>
</div>
